**/.DS_Store


**/target
Cargo.lock

**/build/

**/node_modules/

**/*.zip

**/pnpm-lock.yaml
frontend/tauri/app/cloudcad-ui2/pnpm-lock.yaml

**/.svelte-kit/generated
**/.svelte-kit/output
**/.svelte-kit/types
**/.svelte-kit/ambient.d.ts
**/.svelte-kit/non-ambient.d.ts

**/generated
**/typescript-api/dist
.env
common/libs/subscriber/tests/data/test-subscriber.toml
frontend/tauri/app/cloudcad-ui2/src-tauri/gen/
ignore/
